html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Open+Sans:300,400,600|Roboto+Slab:100,300,400');

#header {
  background: #fafafa;
  height: 70px;
  padding: 0 5vw;
  position: relative;
  display: flex;
  box-shadow:0 0px 3px 0 rgba(0,0,0,0.2);
}


.voltar {
  position: absolute;
  height: 70px;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.voltar > a {
  margin: auto;
  color: #2D3C3F;
}

.voltar > a > i {
  margin-right: 5px;
  transition: margin .5s;
}

.voltar > a:hover > i {
  margin-right: 15px;
}

.voltar > a > span {
  color: #606C76;
}

#anything {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
}

#anything > span {
  margin: auto auto 60% auto;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  padding: 5%;
  border: #cecece;
  background: #eee;
  border-radius: 3px;
}
