
<div id="agenda" ng-controller="AgendaController">
    <div class='item' ng-if="items != null" ng-repeat="item in items">
        <div class='horario'>
            <i class='far fa-clock' style='color: #ffc107;' ng-if="cd_status == 0"></i>
            <i class='fas fa-check' style='color: #28a745;' ng-if="cd_status == 1"></i>
            <i class='fas fa-times' style='color: #dc3545;' ng-if="cd_status != 0 && cd_status != 1"></i>
            <span>{{agenda_data}}</span>
        </div>
        <div class='dados'>
            <div class='info'>
                <span class='nome-social' ng-if="nome_social != ''">
                    <span class='title'>Nome social: </span>{{nome_social}}
                </span>
                <span class='nome'>
                    <span class='title'>Nome: </span>{{nome_completo}}
                </span>
                <span class='matricula'>
                    <span class='title'>Matricula: </span>{{matricula}}
                </span>
            </div>
            <div class='menu'>
                <a class='a'>atender</a>
                <a class='d'>detalhes</a>
            </div>
        </div>
    </div>
    <div id='anything' ng-if="!items != null">
        <span>Nenhuma consulta agendada para hoje.</span>
    </div>
</div>
<script src="Angular/Controller/agenda-controller.js"></script>