<html>

<head>
    <title>Agenda</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <ul class="navigation">
            <li class="hvr" title="Calendario">
                <a href="calendario.php">
                    <i class="far fa-calendar-alt"></i>
                </a>
            </li>
            <li class="hvr" title="Pacientes">
                <a href="calendario.php">
                    <i class="far fa-address-book"></i>
                </a>
            </li>
            <li id="filter-box">
                <input type="text" id="filter-input">
                <i id="filter" class="fas fa-filter"></i>
            </li>
        </ul>
    </header>
    <main id="main">
        <div id="agenda">
            <div class='item' ng-if="items != null" ng-repeat="item in items">
                <div class='horario'>
                    <i class='far fa-clock' style='color: #ffc107;' ng-if="cd_status == 0"></i>
                    <i class='fas fa-check' style='color: #28a745;' ng-if="cd_status == 1"></i>
                    <i class='fas fa-times' style='color: #dc3545;' ng-if="cd_status != 0 && cd_status != 1"></i>
                    <span>{{agenda_data}}</span>
                </div>
                <div class='dados'>
                    <div class='info'>
                        <span class='nome-social' ng-if="nome-social != ''">
                            <span class='title'>Nome social: </span>{{nome-social}}</span>
                        <span class='nome'>
                            <span class='title'>Nome: </span>{{nome_completo}}</span>
                        <span class='matricula'>
                            <span class='title'>Matricula: </span>{{matricula}}</span>
                    </div>
                    <div class='menu'>
                        <a class='a'>atender</a>
                        <a class='d'>detalhes</a>
                    </div>
                </div>
            </div>
            <div id='anything' ng-if="!items != null">
                <span>Nenhuma consulta agendada para hoje.</span>
            </div>
        </div>
    </main>
</body>

</html>